<div class="mx-auto flex flex-col max-w-5xl justify-between gap-10 overflow-hidden px-5 py-8 xl:px-0 text-white">
  <h1 class="flex font-bold items-start text-4xl">Projects</h1>
  <p class="text-base text-[#888]">
    This page lists the <span class="text-white font-bold">{{ originalProjects.length }}</span> main projects that I have been developing during my journey as a programmer. Check out other projects on my <a class="underline" target="_blank" target="_blank" href="https://github.com/user-matth">Github</a>.
  </p>
  <input [(ngModel)]="search" (keyup)="searchbar()" class="flex h-10 w-full rounded-md border border-zinc-700 px-3 py-2 text-sm ring-offset-white file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-zinc-500 focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-zinc-800 dark:bg-zinc-950 dark:ring-offset-zinc-950 dark:placeholder:text-zinc-400 dark:focus-visible:ring-zinc-300" placeholder="Search the desired project">
  <ul class="animate-in flex flex-col animated-list" style="--index: 3;">
    <li class="py-6 flex flex-col md:flex-row gap-4 md:gap-6 transition-opacity first:pt-0 last:pb-0" *ngFor="let project of projects">
       <a class="w-full md:w-2/5 aspect-video bg-tertiary rounded-lg border border-zinc-700 overflow-clip select-none" target="_blank" href="{{ project.link }}">
          <div class="relative w-full h-full overflow-hidden">
            <img alt="RodeRotas" loading="lazy" decoding="async" data-nimg="fill" class="w-full h-full" sizes="100vw" [src]="project.image" style="position: absolute; height: 100%; width: 100%; inset: 0px; object-fit: cover; color: transparent;">
          </div>
       </a>
       <div class="w-full md:w-3/5 space-y-2">
          <div><a class="text-white font-medium hover:underline" target="_blank" href="{{ project.link }}">{{ project.title }}</a><time class="text-[#888]"> · {{ project.year }}</time></div>
          <p class="line-clamp-3 text-tertiary">{{ project.description }}</p>
       </div>
    </li>
 </ul>
</div>