<main class="mx-auto max-w-5xl flex-col items-center justify-center text-white px-5 py-8 xl:px-0">
  <section class="mx-auto flex max-w-5xl flex-col justify-start gap-4 overflow py-8 xl:px-0">
     <div class="flex flex-col gap-6 md:max-w-3xl">
        <h1 class="text-4xl md:text-5xl lg:text-5xl font-bold md:leading-relaxed">Hey, I'm Matheus Cardoso<br>- Software Engineer</h1>
        <div class="flex flex-col gap-6 md:max-w-2xl">
           <h2 class="text-lg font-medium text-[#888] "><span>Matching design and code, I continue building unique projects.</span></h2>
           <h3 class="relative flex items-center pl-5 text-sm"><span>Coding and currently listening to <a class="underline" target="_blank" href="https://open.spotify.com/playlist/54Z2LodAGIrh9KZLDy5Giy?si=cef5b81a88d8478b">lo-fi</a></span><span class="absolute left-0 top-1/2 flex h-2 w-2 -translate-y-1/2 pl-1"><span class="absolute inline-flex h-full w-full animate-ping rounded-full pl-1 opacity-75 
              bg-green-500"></span><span class="relative inline-flex h-2 w-2 rounded-full pl-2 bg-green-500"></span></span></h3>
           <div class="flex flex-col w-full gap-4 md:flex-row lg:flex-row mt-2">
              <button class="inline-flex justify-center whitespace-nowrap font-medium ring-offset-white focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-zinc-950 dark:focus-visible:ring-zinc-300 bg-zinc-900 text-zinc-50 hover:bg-zinc-900/90 dark:bg-zinc-50 dark:text-zinc-900 dark:hover:bg-zinc-50/90 h-10 items-center gap-1 rounded-full p-5 text-base hover:scale-105 hover:shadow-xl transition duration-300 ease-in-out">
                 <a href="/mediakit"><span>Follow me on Social Media</span></a>
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-arrow-up-right">
                    <path d="M17 7l-10 10"></path>
                    <path d="M8 7l9 0l0 9"></path>
                 </svg>
              </button>
           </div>
        </div>
     </div>
  </section>
  <div class="mt-10 flex flex-col gap-5 p-1">
     <div>
        <h1 class="font-bold uppercase">Latest Drops</h1>
     </div>
     <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
        <a href="/setup">
           <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 hover:scale-105 transform transition-all duration-500 ease-in-out hover:bg-[#121212] relative">
              <img alt="" loading="lazy" width="1600" height="1200" decoding="async" data-nimg="1" class="object-cover w-full transition rounded-lg aspect-video group-hover:opacity-90 bg-gray-50 hover:filter hover:backdrop-blur-sm hover:grayscale opacity-30" sizes="100vw" src="https://i.pinimg.com/564x/d6/2f/76/d62f762d08ecb0456e9f46967ba34230.jpg" style="color: transparent;">
              <div class="absolute bottom-0 m-2 text-lg">
                 <p>Setup</p>
              </div>
              <div class="absolute top-0 left-0 m-2 text-lg">
                 <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-zinc-950 dark:focus-visible:ring-zinc-300 bg-zinc-900 text-zinc-50 hover:bg-zinc-900/90 dark:bg-zinc-50 dark:text-zinc-900 dark:hover:bg-zinc-50/90 w-8 h-8 p-0" title="Setup">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-device-laptop">
                       <path d="M3 19l18 0"></path>
                       <path d="M5 6m0 1a1 1 0 0 1 1 -1h12a1 1 0 0 1 1 1v8a1 1 0 0 1 -1 1h-12a1 1 0 0 1 -1 -1z"></path>
                    </svg>
                 </button>
              </div>
              <div class="absolute top-0 right-0 m-2 text-lg">12 items</div>
           </div>
        </a>
         <a href="/stack">
            <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 hover:scale-105 transform transition-all duration-500 ease-in-out hover:bg-[#121212] relative">
               <img alt="" loading="lazy" width="1600" height="1200" decoding="async" data-nimg="1" 
                  class="object-cover w-full transition rounded-lg aspect-video group-hover:opacity-90 bg-gray-50 hover:filter hover:backdrop-blur-sm hover:grayscale opacity-30" 
                  sizes="100vw"  
                  src="https://i.pinimg.com/564x/fd/c0/a3/fdc0a3cdbb3bae708b74fe9de540f44d.jpg" style="color: transparent;">
               <div class="absolute bottom-0 m-2 text-lg">
                  <p>Stack</p>
               </div>
               <div class="absolute top-0 left-0 m-2 text-lg">
                  <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-zinc-950 dark:focus-visible:ring-zinc-300 bg-zinc-900 text-zinc-50 hover:bg-zinc-900/90 dark:bg-zinc-50 dark:text-zinc-900 dark:hover:bg-zinc-50/90 w-8 h-8 p-0" title="Stack">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-tools">
                        <path d="M3 21h4l13 -13a1.5 1.5 0 0 0 -4 -4l-13 13v4"></path>
                        <path d="M14.5 5.5l4 4"></path>
                        <path d="M12 8l-5 -5l-4 4l5 5"></path>
                        <path d="M7 8l-1.5 1.5"></path>
                        <path d="M16 12l5 5l-4 4l-5 -5"></path>
                        <path d="M16 17l-1.5 1.5"></path>
                     </svg>
                  </button>
               </div>
               <div class="absolute top-0 right-0 m-2 text-lg">16 items</div>
            </div>
         </a>
         <a href="/projects">
           <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 hover:scale-105 transform transition-all duration-500 ease-in-out hover:bg-[#121212] relative">
               <img alt="" loading="lazy" width="1600" height="1200" decoding="async" data-nimg="1" class="object-cover w-full transition rounded-lg aspect-video group-hover:opacity-90 bg-gray-50 hover:filter hover:backdrop-blur-sm hover:grayscale opacity-30" sizes="100vw" src="https://i.pinimg.com/564x/65/8b/ab/658babc01bf1b1c607b86030e5918910.jpg" style="color: transparent;">
               <div class="absolute bottom-0 m-2 text-lg">
                  <p>Projects</p>
               </div>
               <div class="absolute top-0 left-0 m-2 text-lg">
                  <button class="inline-flex items-center justify-center whitespace-nowrap rounded-md text-sm font-medium ring-offset-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-zinc-950 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50 dark:ring-offset-zinc-950 dark:focus-visible:ring-zinc-300 bg-zinc-900 text-zinc-50 hover:bg-zinc-900/90 dark:bg-zinc-50 dark:text-zinc-900 dark:hover:bg-zinc-50/90 w-8 h-8 p-0" title="Projetos">
                     <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.3" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-code">
                        <path d="M7 8l-4 4l4 4"></path>
                        <path d="M17 8l4 4l-4 4"></path>
                        <path d="M14 4l-4 16"></path>
                     </svg>
                  </button>
               </div>
               <div class="absolute top-0 right-0 m-2 text-lg">4 projetos</div>
           </div>
        </a>
     </div>
  </div>
</main>