<main class="space-y-40 mb-40">
  <div class="relative">
    <div aria-hidden="true" class="absolute inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
      <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
      <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
    </div>
    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
      <div class="relative pt-36 ml-auto">
          <div class="lg:w-2/3 text-center mx-auto">
              <h1 class="text-gray-900 dark:text-white font-bold text-5xl md:text-6xl xl:text-7xl">Elevando sua presença digital <span class="text-primary dark:text-white">com soluções de ponta</span></h1>
              <p class="mt-8 text-gray-700 dark:text-gray-300">Transformando ideias em soluções digitais personalizadas de alta qualidade. Meu objetivo é trabalhar em parceria com você para transformar suas ideias em realidade através do desenvolvimento web e mobile, entregando soluções de qualidade que superem suas expectativas.</p>
              <div class="mt-16 flex flex-wrap justify-center gap-y-4 gap-x-6">
                  <a href="#" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                    <span class="relative text-base font-semibold text-white">Vamos lá!</span>
                  </a>
                  <a href="#" class="relative flex h-11 w-full items-center justify-center px-6 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
                    <span class="relative text-base font-semibold text-primary dark:text-white">Ler mais</span>
                  </a>
              </div>
              <div class="hidden py-8 mt-16 border-y border-gray-100 dark:border-gray-800 sm:flex justify-center">
                  <!-- <div class="text-left">
                      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The lowest price</h6>
                      <p class="mt-2 text-gray-500">Some text here</p>
                  </div> -->
                  <div class="text-center">
                      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">Algumas empresas que confiam no meu trabalho</h6>
                      <p class="mt-2 text-gray-500">Quero ver a sua aqui embaixo!</p>
                  </div>
                  <!-- <div class="text-left">
                      <h6 class="text-lg font-semibold text-gray-700 dark:text-white">The most loved</h6>
                      <p class="mt-2 text-gray-500">Some text here</p>
                  </div> -->
              </div>
          </div>
          <div class="mt-12 grid grid-cols-3 sm:grid-cols-3 md:grid-cols-3">
            <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
              <img src="./assets/images/clients/bg44.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="">
            </div>
              <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                  <img src="./assets/images/clients/anexo_solucoes.png" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="">
                </div>
              <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                <img src="./assets/images/clients/techf8.png" class="h-9 w-auto m-auto" loading="lazy" alt="client logo" width="" height="">
              </div>
              <!-- <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                  <img src="./assets/images/clients/ge.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="">
                </div> -->
                <!-- <div class="p-4 flex grayscale transition duration-200 hover:grayscale-0">
                  <img src="./assets/images/clients/netflix.svg" class="h-8 w-auto m-auto" loading="lazy" alt="client logo" width="" height="">
                </div> -->
              <!-- <div class="p-4 grayscale transition duration-200 hover:grayscale-0">
                  <img src="./assets/images/clients/google-cloud.svg" class="h-12 w-auto mx-auto" loading="lazy" alt="client logo" width="" height="">
              </div> -->
            </div>
      </div>
</div>
</div>
  <div>
<div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
  <div class="md:w-2/3 lg:w-1/2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-secondary">
      <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd"></path>
    </svg>
    
    <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
      Nossos Serviços
    </h2>
    <p class="text-gray-600 dark:text-gray-300">Saiba mais sobre os recursos que tornam o nosso produto incrível e como eles podem ajudá-lo a alcançar seus objetivos.</p>
  </div><div class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4">
    <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
      <div class="relative space-y-8 py-12 p-8">
        <img src="https://cdn-icons-png.flaticon.com/512/4341/4341139.png" class="w-12" width="512" height="512" alt="burger illustration">

        <div class="space-y-2">
          <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
            Design Responsivo
          </h5>
          <p class="text-gray-600 dark:text-gray-300">
            Garante visualização e interação ideal em diferentes dispositivos.
          </p>
        </div>
        <a href="#" class="flex items-center justify-between group-hover:text-secondary">
          <span class="text-sm">Ler mais</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
          </svg>                
        </a>
      </div>
    </div>
    <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
      <div class="relative space-y-8 py-12 p-8">
        <img src="https://cdn-icons-png.flaticon.com/512/4341/4341134.png" class="w-12" width="512" height="512" alt="burger illustration">

        <div class="space-y-2">
          <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
            Navegação Amigável ao Usuário
          </h5>
          <p class="text-gray-600 dark:text-gray-300">
            Facilita navegação e encoraja exploração do site ou app.
          </p>
        </div>
        <a href="#" class="flex items-center justify-between group-hover:text-secondary">
          <span class="text-sm">Ler mais</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
          </svg>                
        </a>
      </div>
    </div>
    <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
      <div class="relative space-y-8 py-12 p-8">
        <img src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png" class="w-12" width="512" height="512" alt="burger illustration">

        <div class="space-y-2">
          <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
            Tempos de Carregamento Rápidos
          </h5>
          <p class="text-gray-600 dark:text-gray-300">
            Acelera engajamento e melhora ranking em motores de busca.
          </p>
        </div>
        <a href="#" class="flex items-center justify-between group-hover:text-secondary">
          <span class="text-sm">Ler mais</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
          </svg>                
        </a>
      </div>
    </div>
    <div class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
      <div class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800">
        <img src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png" class="w-12" width="512" height="512" alt="burger illustration">

        <div class="space-y-2">
          <h5 class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
            Mais funcionalidades
          </h5>
          <p class="text-gray-600 dark:text-gray-300">
            Entre outras funcionalidades possibilitando o crescimento do seu negócio.
          </p>
        </div>
        <a href="#" class="flex items-center justify-between group-hover:text-secondary">
          <span class="text-sm">Ler mais</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
            <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd"></path>
          </svg>                
        </a>
      </div>
    </div>
  </div>
</div>
</div>
  <div>
  <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
      <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd"></path>
      <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd"></path>
    </svg><div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
      <div class="md:5/12 lg:w-1/2">
        <img src="./assets/images/pie.svg" alt="image" loading="lazy" width="" height="" class="w-full">
      </div>
      <div class="md:7/12 lg:w-1/2">
        <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white mt-5">
          Conheça minha jornada  
        </h2>
        <p class="my-8 text-gray-600 dark:text-gray-300">
          Para mim, a satisfação do cliente é essencial. Sempre busco construir relacionamentos duradouros com aqueles com quem trabalho, entendendo suas necessidades e objetivos e entregando resultados de alta qualidade. É muito gratificante receber feedback positivo e saber que ajudei meus clientes a atingirem seus objetivos.<br><br>
          Acredito que a chave para o meu sucesso está em minha abordagem personalizada e colaborativa. Trabalho lado a lado com meus clientes durante todo o processo, garantindo que suas necessidades sejam atendidas e que minhas soluções atendam às suas expectativas. Não apenas entrego projetos de alta qualidade, mas também forneço suporte contínuo e estou sempre disponível para ajudar meus clientes a obterem o máximo valor de meus serviços.
        </p>
        <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
          <div class="mt-8 flex gap-4 md:items-center">
            <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400">
                <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z" clip-rule="evenodd"></path>
              </svg>        
            </div>
            <div class="w-5/6">
              <h4 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Desenvolvimento de Aplicações 100% Personalizadas</h4>
              <p class="text-gray-500 dark:text-gray-400">Personalização total para atender às necessidades específicas do seu negócio.</p>
            </div> 
          </div> 
          <div class="pt-4 flex gap-4 md:items-center">
            <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-teal-600 dark:text-teal-400">
                <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd"></path>
              </svg>                                      
            </div>
            <div class="w-5/6">
              <h4 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Soluções Disponíveis no Mundo Todo</h4>
              <p class="text-gray-500 dark:text-gray-400">Acesso a nível global às soluções desenvolvidas.</p>
            </div> 
          </div> 
        </div>
      </div>
    </div>
</div>
</div>
  <div class="text-gray-600 dark:text-gray-300">
  <!-- <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
    <div class="mb-20 space-y-4 px-6 md:px-0">
      <h2 class="text-center text-2xl font-bold text-gray-800 dark:text-white md:text-4xl">
        Algumas recomendações
      </h2>
    </div><div class="md:columns-2 lg:columns-3 gap-8 space-y-8">
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1372441824560771075/DTcuXT0Z_400x400.jpg" alt="" width="" height="" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Lorem Ipsum</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">dolor sit amet consectetur</p>
          </div>
        </div>
        <p class="mt-8">O trabalho do desenvolvedor fullstack é fundamental em qualquer projeto digital e posso dizer que tive a sorte de trabalhar com um dos melhores. Se você precisa de um profissional confiável, altamente capacitado e apaixonado pelo que faz, não hesite em contratar o Matheus. Ele é realmente um mestre em desenvolvimento web!</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1372441824560771075/DTcuXT0Z_400x400.jpg" alt="" width="" height="" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Lorem Ipsum</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">dolor sit amet consectetur</p>
          </div>
        </div>
        <p class="mt-8">Trabalhar com o Matheus foi uma experiência incrível! Sua abordagem centrada no cliente, sua habilidade para resolver problemas e sua expertise em tecnologias web são impressionantes. Ele fez um ótimo trabalho no meu projeto e eu o recomendo sem hesitação.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1372441824560771075/DTcuXT0Z_400x400.jpg" alt="" width="" height="" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Lorem Ipsum</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">dolor sit amet consectetur</p>
          </div>
        </div>
        <p class="mt-8">Como designer gráfico, tive o prazer de colaborar com o Matheus em vários projetos e sempre fiquei impressionado com sua habilidade para transformar minhas ideias em realidade. Além disso, ele tem um excelente senso de design e usa as melhores ferramentas para criar websites funcionais e bonitos. Eu recomendo o Matheus para qualquer projeto web.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1372441824560771075/DTcuXT0Z_400x400.jpg" alt="" width="" height="" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Lorem Ipsum</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">dolor sit amet consectetur</p>
          </div>
        </div>
        <p class="mt-8">Como proprietário de uma pequena empresa, eu precisava de um website profissional para competir no mercado. Foi aí que o Matheus entrou em cena. Ele entendeu perfeitamente as minhas necessidades e criou um site incrível que superou minhas expectativas. Se você precisa de um desenvolvedor fullstack talentoso, confiável e dedicado, não procure mais.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1372441824560771075/DTcuXT0Z_400x400.jpg" alt="" width="" height="" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Lorem Ipsum</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">dolor sit amet consectetur</p>
          </div>
        </div>
        <p class="mt-8">Eu tive o prazer de trabalhar com o Matheus em um projeto desafiador e fiquei impressionado com sua habilidade para resolver problemas complexos com facilidade. Ele é um desenvolvedor fullstack altamente experiente, capaz de trabalhar com diversas linguagens e tecnologias. Se você precisa de alguém que possa enfrentar desafios difíceis e entregue resultados de qualidade, o Matheus é o profissional certo para você.</p>
      </div>
      <div class="aspect-auto p-8 border border-gray-100 rounded-3xl bg-white dark:bg-gray-800 dark:border-gray-700 shadow-2xl shadow-gray-600/10 dark:shadow-none">
        <div class="flex gap-4">
          <img class="w-12 h-12 rounded-full" src="https://pbs.twimg.com/profile_images/1372441824560771075/DTcuXT0Z_400x400.jpg" alt="" width="" height="" loading="lazy">
          <div>
            <h6 class="text-lg font-medium text-gray-700 dark:text-white">Lorem Ipsum</h6>
            <p class="text-sm text-gray-500 dark:text-gray-300">dolor sit amet consectetur</p>
          </div>
        </div>
        <p class="mt-8">Trabalhar com o Matheus foi uma experiência excepcional! Ele tem uma habilidade incrível para entender as necessidades do cliente e desenvolver soluções personalizadas que atendem às suas expectativas. Além disso, sua capacidade de se comunicar de forma clara e eficaz tornou o processo de desenvolvimento muito mais fácil. Eu recomendo o Matheus para qualquer projeto web.</p>
      </div>

    </div>
  </div> -->
</div>
  <!-- <div class="relative py-16">
<div aria-hidden="true" class="absolute inset-0 h-max w-full m-auto grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
  <div class="blur-[106px] h-56 bg-gradient-to-br from-primary to-purple-400 dark:from-blue-700"></div>
  <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 dark:to-indigo-600"></div>
</div>
<div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
  <div class="relative">
    <div class="flex items-center justify-center -space-x-2">
      <img loading="lazy" width="220" height="220" src="https://pbs.twimg.com/profile_images/1559671811780087810/Y4E8X2do_400x400.jpg" alt="member photo" class="h-8 w-8 rounded-full object-cover">
      <img loading="lazy" width="220" height="220" src="https://pbs.twimg.com/profile_images/1511686703672606725/_DV4Mfjd_400x400.jpg" alt="member photo" class="h-12 w-12 rounded-full object-cover">
      <img loading="lazy" width="220" height="220" src="https://pbs.twimg.com/profile_images/1372441824560771075/DTcuXT0Z_400x400.jpg" alt="member photo" class="z-10 h-16 w-16 rounded-full object-cover">
      <img loading="lazy" width="220" height="220" src="https://pbs.twimg.com/profile_images/1362367807887974401/kuJ1OFT1_400x400.jpg" alt="member photo" class="relative h-12 w-12 rounded-full object-cover">
      <img loading="lazy" width="220" height="220" src="https://pbs.twimg.com/profile_images/1398547148086681604/ctgizwrN_400x400.jpg" alt="member photo" class="h-8 w-8 rounded-full object-cover">
    </div>
    <div class="m-auto space-y-6 md:w-8/12 lg:w-7/12">
      <h1 class="text-center text-4xl font-bold text-gray-800 dark:text-white md:text-5xl">Get Started now</h1>
      <p class="text-center text-xl text-gray-600 dark:text-gray-300">
        Be part of millions people around the world using tailus in modern User Interfaces.
      </p>
      <div class="flex flex-wrap justify-center gap-6">
        <a href="#" class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:bg-primary before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
            <span class="relative text-base font-semibold text-white dark:text-dark">Get Started</span>
          </a>
          <a href="#" class="relative flex h-12 w-full items-center justify-center px-8 before:absolute before:inset-0 before:rounded-full before:border before:border-transparent before:bg-primary/10 before:bg-gradient-to-b before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 dark:before:border-gray-700 dark:before:bg-gray-800 sm:w-max">
            <span class="relative text-base font-semibold text-primary dark:text-white">More about</span>
        </a>
      </div>
    </div>
  </div>
</div>
</div> -->
  <div>
<div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6" id="projects">
  <div class="mb-12 space-y-2 text-center">
      <h2 class="text-3xl font-bold text-gray-800 md:text-4xl dark:text-white">Últimos Projetos</h2>
      <p class="lg:mx-auto lg:w-6/12 text-gray-600 dark:text-gray-300">
        Nesta seção, você encontrará uma lista dos meus projetos mais recentes e relevantes.
      </p>
    </div><div class="grid gap-8 md:grid-cols-1 lg:grid-cols-2">
      <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
        <div class="relative overflow-hidden rounded-xl">
          <img src="https://i.ibb.co/jgR5bgg/Captura-de-tela-2023-05-13-212738.png" alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105">
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            Rode Rotas
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Desenvolvedor Fullstack <a href="https://anexosolucoes.com.br/" class="text-info dark:text-blue-300">(Anexo Soluções)</a> - Um marketplace para vendas de passagens de ônibus.
          </p>
          <a class="inline-block" href="https://roderotas.com/" target="_blank">
            <span class="text-info dark:text-blue-300">Ver mais</span>
          </a>
        </div>
        
      </div>
      <div class="group p-6 sm:p-8 rounded-3xl bg-white border border-gray-100 dark:shadow-none dark:border-gray-700 dark:bg-gray-800 bg-opacity-50 shadow-2xl shadow-gray-600/10">
        <div class="relative overflow-hidden rounded-xl">
          <img src="https://i.ibb.co/kS1VqN8/image.png" alt="art cover" loading="lazy" width="1000" height="667" class="h-64 w-full object-cover object-top transition duration-500 group-hover:scale-105">
        </div>
        <div class="mt-6 relative">
          <h3 class="text-2xl font-semibold text-gray-800 dark:text-white">
            Smart Miles
          </h3>
          <p class="mt-6 mb-8 text-gray-600 dark:text-gray-300">
            Desenvolvedor Fullstack <a href="https://anexosolucoes.com.br/" class="text-info dark:text-blue-300">(Anexo Soluções)</a> - Uma plataforma para gerenciamento de Milhas e Pontos.
          </p>
          <a class="inline-block" href="https://smartmiles.com.br/" target="_blank">
            <span class="text-info dark:text-blue-300">Ver mais</span>
          </a>
        </div>
        
      </div>
      
    </div>
</div>
</div>
</main>