<div class="mx-auto flex flex-col max-w-5xl justify-between gap-10 overflow-hidden px-5 py-8 xl:px-0 text-white">
  <h1 class="flex font-bold items-start text-4xl">About Me</h1>
  <div class="flex flex-col md:flex-row align-center justify-between w-full gap-5">
    <img alt="birobirobiro" loading="lazy" width="400" height="400" decoding="async" data-nimg="1" class="rounded-md" style="color:transparent" src="assets\images\A1EAF6DB-FD1B-4E83-B216-8A4F76B8D9BF.jpg">
    <div class="flex flex-col gap-5 max-w-lg text-[#A1A1AA] text-base leading-relaxed">
       <p>
        Hey there, I'm Matheus, also known as <i class="text-white font-bold">Cardoso</i>, and I'm <span class="text-white font-bold">19</span>. Nice to meet you!
       </p>
       <p>
          I am a full-stack software engineer with approximately 3 years of experience in a diverse range of technologies. My expertise spans the entire spectrum, covering web development (both front and back end), mobile applications, server-side programming, and more.
        </p>
        <p>
          In the realm of web development, I am well-versed in HTML, CSS, JavaScript, TypeScript, and popular frameworks such as ReactJS and Next.js. My styling proficiency extends to Tailwind CSS, ensuring sleek and responsive user interfaces. Version control is second nature to me, utilizing Git and GitHub seamlessly.
        </p>
        <p> 
          Having worked as a technical instructor and front-end developer, I have honed my skills in agile methodologies such as Scrum and Kanban. I bring this valuable experience to any team I collaborate with, offering a dynamic and adaptable approach to projects. My primary areas of expertise include JavaScript, TypeScript, React, Next.js, and Node.js.
        </p>
        <p>
         In addition to my professional endeavors, I am passionate about building personal projects that challenge and expand my skill set. Beyond coding, I engage with my audience by creating content for my social media platforms, fostering a vibrant and collaborative community. I am enthusiastic about leveraging my comprehensive skill set to contribute effectively to your team and projects.
       </p>
    </div>
 </div>
 <div>
  <h2 class="text-2xl font-bold text-white">Career</h2>
  <div class="flex flex-col gap-3 max-w-md text-[#A1A1AA] text-base">
     <h3 class="font-bold text-white mt-5">Mobile Developer</h3>
     <p style="margin:0">
        <a class="underline" href="https://4selet.com.br/" target="_blank">4Selet</a>
        <span>
           • Goiânia, GO
        </span>
     </p>
     <p style="margin:0"><span>jun 2023</span><span> – </span><span>Current</span><span> • </span><span>6 months</span></p>
  </div>
  <div class="flex flex-col gap-3 max-w-md text-[#A1A1AA] text-base">
     <h3 class="font-bold text-white mt-5">Full-stack Developer</h3>
     <p style="margin:0">
        <a class="underline" href="https://www.anexosolucoes.com.br/" target="_blank">Anexo Soluções</a>
        <span>
           • Remoto
        </span>
     </p>
     <p style="margin:0"><span>jan 2022</span><span> – </span><span>may 2023</span><span> • </span><span>1 year and 6 months</span></p>
  </div>
</div>
 <div class="mt-6">
  <h2 class="text-2xl font-bold text-white">Education</h2>
  <div class="flex flex-col gap-3 max-w-md text-[#A1A1AA] text-base">
     <h3 class="font-bold text-white mt-5">Computer Science</h3>
     <p style="margin:0">
        <a class="underline" href="https://unip.br/" target="_blank">UNIP</a>
        <span>
           • Goiânia, GO
        </span>
     </p>
     <p style="margin:0"><span>jan 2022</span><span> – </span><span>dec 2025</span><span> • </span><span>In progess</span></p>
  </div>
</div>
</div>