<div class="mx-auto flex flex-col max-w-5xl justify-between gap-10 overflow-hidden px-5 py-8 xl:px-0 text-white">
  <h1 class="flex font-bold items-start text-4xl">Mídia Kit</h1>
  <p class="text-base text-[#888]">
     Click on each card to access my profile on each social network. The complete media kit you can access by <a class="underline" target="_blank" href="https://links.mcardoso.dev/">clicking here</a>
  </p>
  <div class="grid grid-cols-2 gap-10 lg:grid-cols-4 md:grid-cols-4 items-center">
     <a target="_blank" class="h-full" href="https://instagram.com/mcardoso.dev">
        <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 flex flex-col bg-[#111111] hover:scale-105 transform transition-all duration-500 ease-in-out items-center h-full">
           <div class="flex flex-col space-y-1.5 p-6 w-full">
              <div class="flex justify-between items-center">
                 Instagram
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-instagram">
                    <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"></path>
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    <path d="M16.5 7.5l0 .01"></path>
                 </svg>
              </div>
           </div>
           <div class="p-6 pt-0"><span class="text-3xl">444</span></div>
        </div>
     </a>
     <a target="_blank" class="h-full" href="https://tiktok.com/@mcardoso.dev">
        <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 flex flex-col bg-[#111111] hover:scale-105 transform transition-all duration-500 ease-in-out items-center h-full">
           <div class="flex flex-col space-y-1.5 p-6 w-full">
              <div class="flex justify-between items-center">
                 Tiktok
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-tiktok">
                    <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"></path>
                 </svg>
              </div>
           </div>
           <div class="p-6 pt-0"><span class="text-3xl">-</span></div>
        </div>
     </a>
     <a target="_blank" class="h-full" href="https://twitch.tv/mcardosodev">
        <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 flex flex-col bg-[#111111] hover:scale-105 transform transition-all duration-500 ease-in-out items-center h-full">
           <div class="flex flex-col space-y-1.5 p-6 w-full">
              <div class="flex justify-between items-center">
                 Twitch
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-twitch">
                    <path d="M4 5v11a1 1 0 0 0 1 1h2v4l4 -4h5.584c.266 0 .52 -.105 .707 -.293l2.415 -2.414c.187 -.188 .293 -.442 .293 -.708v-8.585a1 1 0 0 0 -1 -1h-14a1 1 0 0 0 -1 1z"></path>
                    <path d="M16 8l0 4"></path>
                    <path d="M12 8l0 4"></path>
                 </svg>
              </div>
           </div>
           <div class="p-6 pt-0"><span class="text-2xl text-center">2</span></div>
        </div>
     </a>
     <a target="_blank" class="h-full" href="https://twitter.com/import_cardoso">
        <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 flex flex-col bg-[#111111] hover:scale-105 transform transition-all duration-500 ease-in-out items-center h-full">
           <div class="flex flex-col space-y-1.5 p-6 w-full">
              <div class="flex justify-between items-center">
                 Twitter
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-twitter">
                    <path d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c0 -.249 1.51 -2.772 1.818 -4.013z"></path>
                 </svg>
              </div>
           </div>
           <div class="p-6 pt-0"><span class="text-3xl">10</span></div>
        </div>
     </a>
     <a target="_blank" class="h-full" href="https://youtube.com/@mcardosodev">
        <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 flex flex-col bg-[#111111] hover:scale-105 transform transition-all duration-500 ease-in-out items-center h-full">
           <div class="flex flex-col space-y-1.5 p-6 w-full">
              <div class="flex justify-between items-center">
                 YouTube
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-youtube">
                    <path d="M2 8a4 4 0 0 1 4 -4h12a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-12a4 4 0 0 1 -4 -4v-8z"></path>
                    <path d="M10 9l5 3l-5 3z"></path>
                 </svg>
              </div>
           </div>
           <div class="p-6 pt-0"><span class="text-3xl">60</span></div>
        </div>
     </a>
     <a target="_blank" class="h-full" href="https://github.com/user-matth">
        <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 flex flex-col bg-[#111111] hover:scale-105 transform transition-all duration-500 ease-in-out items-center h-full">
           <div class="flex flex-col space-y-1.5 p-6 w-full">
              <div class="flex justify-between items-center">
                 Github
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-github">
                    <path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5"></path>
                 </svg>
              </div>
           </div>
           <div class="p-6 pt-0"><span class="text-3xl">7</span></div>
        </div>
     </a>
     <a target="_blank" class="h-full" href="https://threads.net/@mcardoso.dev">
        <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 flex flex-col bg-[#111111] hover:scale-105 transform transition-all duration-500 ease-in-out items-center h-full">
           <div class="flex flex-col space-y-1.5 p-6 w-full">
              <div class="flex justify-between items-center">
                 Threads
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-brand-threads">
                    <path d="M19 7.5c-1.333 -3 -3.667 -4.5 -7 -4.5c-5 0 -8 2.5 -8 9s3.5 9 8 9s7 -3 7 -5s-1 -5 -7 -5c-2.5 0 -3 1.25 -3 2.5c0 1.5 1 2.5 2.5 2.5c2.5 0 3.5 -1.5 3.5 -5s-2 -4 -3 -4s-1.833 .333 -2.5 1"></path>
                 </svg>
              </div>
           </div>
           <div class="p-6 pt-0"><span class="text-3xl">33</span></div>
        </div>
     </a>
     <a class="h-full cursor-pointer">
        <div class="rounded-lg border border-zinc-200 text-zinc-950 shadow-sm dark:border-zinc-800 dark:bg-zinc-950 dark:text-zinc-50 flex flex-col bg-[#111111] hover:scale-105 transform transition-all duration-500 ease-in-out items-center h-full">
           <div class="flex flex-col space-y-1.5 p-6 w-full">
              <div class="flex justify-between items-center">
                 Total
                 <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="0.8" stroke-linecap="round" stroke-linejoin="round" class="tabler-icon tabler-icon-sum">
                    <path d="M18 16v2a1 1 0 0 1 -1 1h-11l6 -7l-6 -7h11a1 1 0 0 1 1 1v2"></path>
                 </svg>
              </div>
           </div>
           <div class="p-6 pt-0"><span class="text-3xl">556</span></div>
        </div>
     </a>
  </div>
</div>